@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

.AttributeItems {
  outline: 1px solid black;
  width: 63px;
  height: 45px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro";
}

.overlayContent .AttributeItems {
  font-size: 12px;
}

.AttributeItems.selectedAlphanumeric {
  background: black;
  color: white;
}

.AttributeItems.selectedColorAttribute {
  outline: 3px solid #5ece7b;
  outline-offset: 2px;
}

.overlayContent .AttributeItems {
  width: 32px;
  height: 24px;
}
