@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

.AttributeItems {
  outline: 1px solid black;
  width: 63px;
  height: 45px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro";
}

.AttributeItems.selectedAlphanumeric {
  background: black;
  color: white;
}

.colorAttribute {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  outline: 1px solid black;
}

.colorAttribute.selectedColorAttribute {
  outline: 1px solid #5ece7b;
  outline-offset: 2px;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.overlayContent .colorAttribute {
  width: 16px;
  height: 16px;
}

.overlayContent .AttributeItems {
  width: 32px;
  height: 24px;
  font-size: 11px;
}
