.topNav {
  background-color: #ffffff;
  overflow: hidden;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topItems {
  display: flex;
  justify-content: center;
}

