@import url("https://fonts.googleapis.com/css?family=Raleway");

.topLevel {
  padding-left: 101px;
  padding-right: 101px;
}

.topNav {
  background-color: #ffffff;
  overflow: hidden;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topNavContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  font-family: Raleway;
}

.active {
  color: #5ece7b;
  border-bottom: 2px solid #5ece7b;
}

.currencySelectorContainer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

div > select {
  border-color: white;
}
