.content {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 103px;
}

.itemContainer {
  padding-left: 20px;
  padding-right: 20px;
  width: 386px;
  height: 444px;
}
.categoryName {
  margin-top: 40px;
  font-family: Raleway;
  font-size: 42px;
}
