.product {
  /* width: 386px; */
  height: 444px;
  padding: 16px;
  font-family: Raleway;
  position: relative;
  color: black;
  display: flex;
  justify-content: center;
}

.productWrapper:hover {
  -webkit-box-shadow: 0px 4px 35px 16px #a8acb019;
  box-shadow: 0px 4px 35px 16px #a8acb019;
}

.productWrapper {
  margin-bottom: 84px;
  position: relative;
}

.productWrapper svg {
  box-shadow: 0px 5px 16px #a8acb019;
  border-radius: 50%;
}

.productWrapper:hover div:nth-last-of-type(3) {
  display: block;
}

.cartCircle {
  position: absolute;
  bottom: 10%;
  right: 10%;
  display: none;
}

a:-webkit-any-link {
  color: #1d1f22;
  cursor: pointer;
  text-decoration: none;
}

.productTitle {
  font-family: Raleway;
  font-style: normal;
  font-size: 18px;
  padding-left: 16px;
}

.priceStyle {
  font-weight: 600;
  padding-bottom: 16px;
  padding-left: 16px;
}

.outOfStock {
  position: absolute;
  top: 40%;
  left: 35%;
  font-family: Raleway;
  font-size: 24px;
  color: #8d8f9a;
}

.overlayContent .outOfStock {
  top: 80%;
  left: 20%;
}
.itemNotValid {
  opacity: 0.5;
}
