.product {
  width: 386px;
  height: 444px;
  padding: 16px;
  font-family: Raleway;
  position: relative;
  color: black;
}

.productWrapper {
  margin-bottom: 100px;
}

div > img {
  max-width: 386px;
  max-height: 444px;
}
a:-webkit-any-link {
  color: #1d1f22;
  cursor: pointer;
  text-decoration: none;
}

.productTitle {
  font-family: Raleway;
  font-style: normal;
  font-size: 18px;
}

.priceStyle {
  font-weight: 600;
}

.outOfStock {
  position: absolute;
  top: 40%;
  left: 35%;
  font-family: Raleway;
  font-size: 24px;
  color: #8d8f9a;
}

.overlayContent .outOfStock {
  top: 80%;
  left: 20%;
}
