.productDetailWrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  margin-top: 80px;
  flex-wrap: wrap;
}

.productDetailImageContainer {
  display: flex;
  flex-direction: column;
  max-width: 96px;
  max-height: 96px;
}

.productDetailImages {
  padding: 0px 16px 32px 16px;
}

.addToCart {
  width: 295px;
  height: 52px;
  background-color: #5ece7b;
  border: transparent;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 600;
  color: #ffffff;
}
.attributeWrapper {
  display: flex;
  flex-direction: column;
}
.attributeItemsWrapper {
  display: flex;
  align-items: center;
}

.imageWrapper {
  position: relative;
  min-width: 80px;
  max-width: 386px;
  min-height: 386px;
  max-height: 386px;
}

.imageWrapper > img {
  width: 100%;
}

.productDataAddToCart {
  margin: 20px 0px;
}

.productInfo {
  width: 30%;
}

.description {
  width: 295px;
  max-height: 260px;
  overflow-y: auto;
}

.description::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.price {
  font-weight: 700;
}
