.image {
  width: 100%;
}

.sliderStyles {
  position: relative;
  width: 200px;
}

.overlayContent .sliderStyles {
  width: 150px;
}

.arrows {
  display: flex;
  width: 56px;
  justify-content: space-between;
  position: absolute;
  bottom: 10%;
  right: 10%;
}
