.rightArrowStyles {
  position: absolute;
  top: 80%;
  left: 80%;
  font-size: 24px;
  color: black;
  z-index: 1;
  cursor: pointer;
}

.overlayContent .rightArrowStyles {
  top: 150%;
}

.leftArrowStyles {
  position: absolute;
  top: 80%;
  right: 30%;
  font-size: 24px;
  color: black;
  z-index: 1;
  cursor: pointer;
}

.overlayContent .leftArrowStyles {
  top: 150%;
}

.sliderStyles {
  position: relative;
  height: 100%;
  padding-left: 24px;
}

.overlayContent .sliderStyles {
  position: relative;
  height: 100%;
  padding-left: 0px;
  transform: scale(0.52);
  transform-origin: left top;
}
